/* ./styles/globals.css */
/* 引入code mirror css文件 */
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
.w-800 {
  width: 800px;
}

.font-yahei {
  font-family: 'Microsoft YaHei';
}
.font-simsun {
  font-family: 'SimSun';
}

/* 首页 文章时间后分隔用的黑点 */
#home-lastUpdated:after {
  content: '·';
  margin: 0 0.3em;
  color: black;
}
/* 设置首页 tag之间的分界线，选择除了最后一个span的所有span */
#home-taglist .inline:not(:last-child):after {
  content: '|';
  margin: 0 0.2em;
}
