/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.w-800 {
  width: 800px;
}

.font-yahei {
  font-family: 'Microsoft YaHei';
}
.font-simsun {
  font-family: 'SimSun';
}
